@charset 'utf-8';

html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden;
    letter-spacing: -0.05em;
}

a {
    color: black;
    text-decoration: none;
}


h2 {
    font-size : 25px;
    padding : 10px;
    background-color: wheat;
    border-top-left-radius: 32px;
    height : 35px;
}

footer {
    display: flex;
    justify-content : left;
    align-items: center;

    width : 100%;
    height : 90px;
    margin: 0 auto;
    padding : 10px;

    background-color: rgb(0, 0, 40);
    color : white;     
    
}

.top-nav {
    position: absolute;
    width: 100%;
    height: 27px;
    left: 0;
    top : 0;

    background-color: gray;
    color : whitesmoke;
    opacity: 0.85;
}
.main-nav {
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    top : 28px;

    background-color: white;
    opacity: 0.85;
}


.top-nav-links {
    display: flex;
    align-items: center;
    justify-content: right;

    height: 100%;    
    max-width: 1000px;
    margin: 0 auto;
}
.top-nav-link{
    color : white;
    margin : 10px;
}
.top-nav-link:hover{
    color : rgb(178, 178, 178);
}
.top-nav-link:active{
    color : black;
}

.main-nav-links {
    display: flex;
    align-items: center;
    justify-content: right;

    height: 100%;    
    max-width: 1000px;
    margin : auto;
    border-bottom: 1px solid gray;
}

.logo {
    display : flex;
    width : 150px;
    height : 50px;
    margin-right : auto;

}

.main-nav-link {
    margin-left: 2em;
    position : relative;
    text-decoration: none;

    padding-bottom : 5px ;
}
.main-nav-link:before {
    content: '';
    position: absolute;
    background-color: rgb(66, 119, 217);
    height: 2.5px; 

    width: 0;
    bottom: 0;
    transition: 0.3s; 

    left: 50%;
    transform: translateX(-50%) ;
}
.main-nav-link:hover::before{
    width: 100%;
}

.main-nav-link:active{
    color : rgb(66, 119, 217);
}

.main-message {
    font-size: 7rem;
    text-align: center;
    margin-top: 1.5em;
    color : rgb(66, 119, 217);
}

.section0-message
{
    opacity: 0;
    font-size: 3rem;
    font-weight: bold;
}

.sticky-element
{
    display: none;
    position: fixed;

    width: 100%;
    height: 6rem;
    top: 6em;

    text-align: center;
    
}

#show-section0 .sticky-element
{
    display: block;
}

.main-nav-sticky .main-nav{
    position: fixed;
    left: 0;
    top: 0;

    border: 1px solid gray;

    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);

}

.main-nav-sticky .main-nav-links {
    border: none;
}


/* --------------------------------------------------*/
/* section - 1 */
.nav-num {
    display : flex;
    align-items: top;
    justify-content: center;
    max-height: 500px;

    font-size: 1.5rem;
    color:rgb(75, 75, 75);
    max-width: 1000px;
    margin: 0 auto;
    border-top: 1px solid gray;
    padding : 5px;
}
.nav-1{
    float : left;
    border-right : 1px solid gray;
}
.nav-2 {
    float : left;
    border-right : 1px solid gray;
}
.nav-3 {
    float : left;
    border-right : 1px solid gray;
}
.nav-4 {
    float : left;
}


/* --------------------------------------------------*/
.now{
    color : blue;
}
.notyet{
    color : gray;
}